.mainheader {
  text-align: center;
  padding: 50px;
}

.headerlink {
  padding: 35px;
  font-family: 'Raleway', sans-serif;
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.name {
  text-decoration: underline;
}

.headerlink:hover {
  color: #F6D186;
  text-decoration: line-through;
}

.right, .left {
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem;
}

.right {
  float: left;
  width: 70%;
  padding-left: 250px;
  padding-top: 30px;
}

.left {
  top: 250px;
  right: 330px;
  padding-top: 10px;
  float: right;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: absolute;
}

.work {
  padding-top: 450px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  color: #888888;
}

.work:hover {
  color: #F6D186;
}

.arrow {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  text-align: center;
  padding-top: 150px;
  margin: 0px auto 100px auto;
  position: relative;
}

.heading {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.convince {
  line-height: 2.5;
  padding-top: 150px;
  padding-left: 250px;
  padding-bottom: 80px;
  width: 40%;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
}

.middle-container {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

.skills {
  font-family: 'Roboto Mono', monospace;
  margin: 100px auto 100px auto;
  width: 70%;
  text-align: center;
}

.skill-row0 {
  line-height: 1.5;
  width: 80%;
  text-align: left;
  padding-right: 200px;
}

.skill-row1 {
  float: right;
  line-height: 1.5;
  width: 50%;
  text-align: right;
  padding-left: 550px;
  padding-bottom: 100px;
}

.title {
  padding: 50px;
}

.title2 {
  font-weight: bold;
  padding-bottom: 30px;
  text-decoration: underline;
}

.intro {
  line-height: 2;
}

.beliefs {
  position: absolute;
  left: 60px;
  right: 60px;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
}

.hr1 {
  margin: 100px auto 10px auto;
  width: 10%;
  border-width: 3px;
  border-style: dotted none none;
  border-color: #eaf6f6;
  border-width: 5px;
  width: 5%;
}

.first {
  font-size: 1.7rem;
  padding-left: 100px;
  text-align: center;
  width: 80%;
}

.second {
  text-decoration: underline;
  text-decoration-color: #888888;
  padding-left: 40px;
  font-size: 1.5rem;
  float: left;
  width: 40%;
}

.third {
  text-decoration: underline;
  text-decoration-color: #F6D186;
  font-size: 1.8rem;
  float: right;
  width: 50%;
  padding-top: 150px;
  padding-right: 40px;
}

.strong {
  font-weight: 600;
}

.footer {
top: 900px;
margin: 100px auto 100px auto;
 position: relative;
  text-align: center;


}
.social{
  top:930px;
  position: relative;
  padding: 60px 80px;
  color: #F6D186;
  text-decoration:overline;

}
.social:hover{
  color:black;
}
